body{
	margin-top: 0px;
	margin-bottom: 0px;
	background: #339;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}

#container{
	width: 760px;
	margin: 0 auto;
	background: white;
	border: 5px solid white;
}

#header{
	width: 100%;
}

#headerLeft{
	width: 560px;
	float: left;
}

#headerMiddleTop{
	margin: 20px;
}

/* this is the logo */
#headerLeftTop{
	margin-left: 10px;
	margin-bottom: 4px;
	margin-right: 20px;
	float: left;
}

#headerLeftBottom{
	text-align: left;
	clear: left;
}

/* this is the 'start' field */
#headerLeftBottomLeft{
	float: left;
	margin-left: 10px;
	margin-right: 20px;
}

/* this is the submit button */
#headerLeftBottomRight{
	float: right;
	vertical-align: middle;
	text-align: left;
	margin-right: 5px;
}

#headerRight{
	float: right;
	width: 150px;
}

#display{
	width: 100%;
	clear: both;
}

#displayLeft{
	float: left;
	width: 180px;
}

#displayMap{
	float: right;
	margin-top: 3px;
}

/* 
 * Buttons for controlling zoom and direction...position is absolutely
 * relative to map :)
 */
#buttons{
	float: left;
	width: 70px;
	margin-top: 20px;
	margin-left: 5px;
	text-align: center;
}

#footer{
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 75%;
}

#thumb{
	width: 144px;
	height: 132px;
}
#fromTxt{
	border-bottom: 2px solid #00ff00;
	line-height: 18px;
	display: inline;
}
#toTxt{
	border-bottom: 2px solid #ff0000;
	line-height: 18px;
	display: inline;
}

