body{
	margin-top: 0pt;
	margin-bottom: 0pt;
	background: #339;
	font-family: arial, helvetica, sans-serif;
	font-size: 12pt;
}

/* in opera, <input>s and <select>s don't take the font-size of <body>. feh. */
.operaDoesNotInheritProperly{
	font-family: arial, helvetica, sans-serif;
	font-size: 12pt;
}

#container{
	width: 760pt;
	margin: 0 auto;
	background: white;
	border: 5px solid white;
}

#header{
	width: 100%;
}

#headerLeft{
	width: 560pt;
	float: left;
}

#headerMiddleTop{
	margin: 20pt;
}

/* this is the logo */
#headerLeftTop{
	margin-left: 10pt;
	margin-bottom: 4pt;
	margin-right: 20pt;
	float: left;
}

#headerLeftBottom{
	text-align: left;
	clear: left;
}

/* this is the 'start' field */
#headerLeftBottomLeft{
	float: left;
	margin-left: 10pt;
	margin-right: 20pt;
}

/* this is the submit button */
#headerLeftBottomRight{
	float: right;
	vertical-align: middle;
	text-align: left;
	margin-right: 5pt;
}

#headerRight{
	float: right;
	width: 150pt;
}

#display{
	width: 100%;
	clear: both;
}

#displayLeft{
	float: left;
	width: 180pt;
}

#displayMap{
	float: right;
	margin-top: 3pt;
}

#buttons{
	float: left;
	width: 70pt;
	margin-top: 20pt;
	margin-left: 5pt;
	text-align: center;
}

#footer{
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 75%;
}

#thumb{
	width: 144pt;
	height: 132pt;
}
#fromTxt{
	border-bottom: 2px solid #00ff00;
	line-height: 18pt;
	display: inline;
}
#toTxt{
	border-bottom: 2px solid #ff0000;
	line-height: 18pt;
	display: inline;
}

#map{
	border: 1px solid black;
}

